{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "import", {
        "libraryName": "antd",
        "libraryDirectory": "es"
      }
    ],
    [
      "transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
   ]
  ]
}
